.container {
    display: flex;
    justify-content: center;
    align-self: center;
    width: 160px;
    flex-wrap: wrap;
}

#qrbox {
    /*TODO change unit*/
    height: 150px;
    background: white;
    padding: 8px;
}

#inputbox {
    /*TODO change style*/
    margin: 0 0 5px 0;
}
